<h1>Editing person</h1>

  <!-- View for editing person info in database -->

<%= render "form", person: @person %>

<br>

<div>
  <%= link_to "Show this person", @person, class: 'my-button home-button' %> |
  <%= link_to "Home", "/", class: 'my-button home-button' %>
</div>
