<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <h1>Bowdoin Covid Tracker</h1>

</head>
<body>

  <!-- View for home page -->

  <div class="button-container">
    <%= link_to 'Create a New Person', '/people/new', class: 'my-button' %> 
    <%= link_to 'Calculate Your Exposure Risk', calculator_path(source: 'articles'), class: 'my-button' %>
  </div>

</body>

  <footer>
      <h4> Created by Tara O'Malley '24 and Maggie Zhang '24 with help from Mohammed Irfan</h4>
  </footer>

</html>
