<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<h1>Covid Risk Calculator</h1>
</head>
<body>


<% unless @source == 'articles' %>
	<% if @search_result[0] %>
		<p>Here is your estimated risk of contracting Covid:</p>

		<%= @search_result[0].risk %>
	<% end %>
<% end %>

<p>------</p>

<div class="button-container">
	<%= link_to "Search Form", search_form_path, class: 'my-button' %>

	<%= link_to 'Home', "/", class: 'my-button' %>
</div>

</body>
</html>
